<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap-4-6-0.min.css" crossorigin="anonymous">
</head>
<body>
<h1>Hello world!</h1>
<button hx-get="/clicked" hx-swap="outerHTML">
    Boop Me
</button>

<ul>
  {{#each records}}
    <li>{{this.content}}</li>
  {{/each}}
</ul>

<script src="/static/js/htmx.min.js"></script>
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/bootstrap-4.6.1.min.js"></script>
</body>
</html>
